body {
  background-color: tomato;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}
div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
